/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

html, body {
  height: 100%;
  width: 100%;
}

h2, h3, h4 {
  margin-bottom: 5px;
}

button {
  width: 80px;
}

#body {
  display: flex;
  flex-direction: row;
}

/* TABS */

.category {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.category-name {
  cursor: default;
}

.main-content {
  flex: 1;
}

.tab {
  max-width: 800px;
}

.tab:not(.active) {
  display: none;
}

/* RUNTIMES */

.runtime {
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.runtime-logo {
  height: 24px;
  margin-right: 5px;
}

.runtime-name {
  flex: 1;
  padding-right: 5px;
  margin: 0;
}

/* TARGETS */

.target {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
}

.target-logo {
  height: 24px;
  margin-right: 5px;
}

.target-details {
  flex: 1;
}
